.container {
    background-color: #E5E0FF;
    width: 400px;
    position: relative;
    margin: 20px 37%;
    padding: 10px;
    border-radius: 2%;
    margin-bottom: 20%;
}

.image {
    object-fit: fill;
    border-radius: 2%;
    margin-bottom: 10px;
}

.btn {
    border-radius: 99rem;
    border: 0.1px solid #FFF2F2;
    padding: 0.8rem 1.5rem;
    margin-right: 0.5rem;
}

.more {
    position: relative;
    left: 33%;
    color: #3857d1;
    background-color: #b2c2ee;
    font-size: 1rem;
    font-family: "Playfair Display";
    font-weight: bolder;
}


